.mainnavbar h1{
    color: white;
    font-size: xx-large;
    margin-left: 50px;
}
.mainnavbar img{
    margin-top: -12px;
    margin-bottom: -20px;
    margin-left: -15px;
}
.navbar{
    margin-bottom: 10px;
}

.footer{
    background-color: #292929;
    color: azure;
}

.footer-copyright{
    border-top: 1px solid white;
}

.footer img{
    margin-left: 15px;
}